rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return isSignedIn() && request.auth.token.email == "lxcorppro@gmail.com";
    }

    function isModerator() {
      return isSignedIn() &&
        get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == "moderator";
    }

    function isOwner() {
      return isSignedIn() && request.auth.uid == resource.data.userId;
    }

    function isOwnerCreate() {
      return isSignedIn() && request.auth.uid == request.resource.data.userId;
    }

    function canCreateBlogPost() {
      return isOwnerCreate()
        && request.resource.data.createdAt == request.time
        && (
          !exists(/databases/$(database)/documents/users/$(request.auth.uid))
          || !('lastBlogPostAt' in get(/databases/$(database)/documents/users/$(request.auth.uid)).data)
          || request.time > get(/databases/$(database)/documents/users/$(request.auth.uid)).data.lastBlogPostAt + duration.value(10, 'm')
        );
    }

    match /blogPosts/{postId} {
      allow read: if true;
      allow create: if canCreateBlogPost();
      allow update, delete: if isOwner() || isAdmin() || isModerator();
    }

    match /blogReviews/{reviewId} {
      allow read: if isOwner();
      allow create: if isOwnerCreate();
      allow update, delete: if isOwner() || isAdmin() || isModerator();
    }

    match /orders/{orderId} {
      allow read: if isOwner();
      allow create: if isOwnerCreate();
      allow update, delete: if isOwner() || isAdmin() || isModerator();
    }

    match /users/{userId} {
      allow read: if isAdmin() || (isSignedIn() && request.auth.uid == userId);
      allow create: if isAdmin() || (isSignedIn() && request.auth.uid == userId);
      allow update: if isAdmin() || (isSignedIn() && request.auth.uid == userId);
      allow delete: if isAdmin();
    }
  }
}